.form-container {
	// Make sure the container fills the rest of the page.
	width: 100%;
	height: 80%;
	position: fixed;
}

.input-field {
	// Inherti the parent color and font-family
	font-family: inherit;
	color: inherit;
	border-color: inherit;

	border-style: none;
	border-bottom: 1px dotted;

	font-size: $input-font-size;

	padding: 5px 0;
	margin-bottom: 15px;
}

// Remove the border highlight on focus
.input-field:focus {
	outline: none;
}

// Placeholder to inherit the parent 
::placeholder {
	color: inherit;
	font-family: inherit;

	font-size: $input-font-size;
}