// Turn off shadows
.noshadow {
	box-shadow: none;
}

// Title: inherit the parent color
.title {
	color: inherit;
	font-size: $title-font-size;
	letter-spacing: 1px;
}

.title:hover {
	color: inherit;
}