
// Config import
@import 'config';

// Settings per container 
@import 'navbar';
@import 'form';

// Set margin and padding to zero
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;

	font-family: $font-family;
}

// dark class style
.dark {
	color: $dark-color;
	border-colort: $dark-color;
}

// light class style 
.light {
	color: $light-color;
	border-colort: $light-color;
}

// // Common style to the whole page
// .main-container {
// 	font-family: $font-family;
// 	font-weight: 200;
// 	font-size: 20px;
// }

